<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- suporte a mobile -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Lançamentos Financeiros</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['/tarefas']">
            Lançamentos Financeiros
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
